.button {
  display: inline-block;
  padding: 14px 30px;
  border: 0;
  background-color: $color-brend;
  transition: opacity $ease-main;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #ffffff;
  appearance: none;
  border-radius: 4px;

  $b: &;

  &--light {
    border-color: #2a2b30;
    color: #2a2b30;
    background-color: #fff;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.5;
  }
}
