head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  block head
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
  meta(name='msapplication-tap-highlight' content='no')
  meta(name='format-detection' content='telephone=no')
  link(href='favicon.ico' rel='shortcut icon')
  link(href=`assets/styles/app.min.css?v=${Date.now()}` rel='stylesheet')

