mixin select-block()
  +b.select-block&attributes(attributes)
    select.select
      option Sed ut perspiciatis
      option Nemo enim ipsam
      option Et harum quidem
      option Temporibus autem
      option Itaque earum rerum
